<!DOCTYPE html>
<html>
<head>
  <title>Roadworks</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<nav class="navbar navbar-default",>
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">Roadworks in Aberdeen</a>
	  <% if user_signed_in? %>	
		<%= link_to 'Logout', destroy_user_session_path, :method => :delete, class: 'btn btn-default navbar-btn'%>
	  <% else %>
		<%= link_to 'Login', new_user_session_path, class: 'btn btn-default navbar-btn'%>
	  <%end%>
	  
    </div>
  </div>
</nav>

    <div id="main-container" class="container-fluid">
      <div class="row">
        <div class="col-xs-9">
          <%= yield %>
        </div>
      </div>
    </div>
    
    <nav class="navbar navbar-default navbar-fixed-bottom">
  <div class="container">
    <span class="navbar-text navbar-right">Roadworks in Aberdeen</span>
    <span class="navbar-text navbar-left">Updated: 08/04/2015</span>
  </div>
</nav>
</body>
</html>
